*,::before,::after{ margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}
label{ display: block;}

@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNova-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNova-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNovaT-Thin.woff2);
    font-weight: 100;
    font-display: swap;
}

html{
    font-size:15px;
    --ff: proxima, sans-serif;
    --red:#ca3c3c;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    font: 16px var(--ff)
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-12{ flex-basis: 100%; max-width: 100%; }
.flex{ display: flex;}
.align-center{ align-items: center;}
.justify-space-bet{ justify-content: space-between;}
.justify-center{ justify-content: center;}
.gap-y-60{ row-gap: 4rem;}
.img-resp{ max-width: 100%; height: auto;}

/* custom */
header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
h1{ font-size: 30px; }
h1 a{ color: inherit; line-height: 80px; display: inline-block;}
nav ul{ margin-left: -20px;}
nav li{ margin: 0 5px;}
nav a{ color: inherit; display: block; line-height: 80px; padding: 0 15px;}
.btn{ font: 16px var(--ff); color: var(--red); background: none; width: 90px; height: 35px; border: 2px solid; border-radius: 10px; }
.menu{ display: none; position: absolute; right: 1rem; top: 22.5px;}
.menu span{ display: block; height: 2px; background: var(--red); margin: 6px 10px; transition: 400ms; transform-origin: right center;}
.menu.active span:nth-child(1){ rotate: -14deg;}
.menu.active span:nth-child(2){ opacity: 0;}
.menu.active span:nth-child(3){ rotate: 14deg;}



.banner{ background: #666; color: #fff; padding: 300px 0;}
.banner button{ border: none; background: none; font-size: 10rem; color: inherit; margin-right: 40px; }
.banner p{ font-size: 4rem; font-weight: 100 }
.banner a{ color: var(--red);}


.wrap-3{  background: var(--red); color: #fff; padding: 50px 0;}
h2{ font-size: 72px; line-height: 0.833; border-bottom: 10px solid; margin-bottom: 2rem;}
.circle{ width: 100px; line-height: 96px; border: 2px solid; flex-shrink: 0; border-radius: 50%; text-align: center; font-size: 36px; margin-right: 2rem; }
.caption h3{ font-size: 16px; line-height: 30px;}
.caption p{ font-size: 14px; font-weight: 100; line-height: 22px; }


.wrap-4{ background: #fff; color: var(--red); font-size: 36px ; line-height: 10rem; text-align: center;}


.wrap-5{ background: #ebebeb; padding: 100px 0 140px; color: #363636;}
.wrap-5 .btn{ margin: 0 10px 4rem 0; }
.wrap-5 .btn.active{ background: var(--red); color: #fff; border-color: var(--red);}
.work{ margin-bottom: 2rem; position: relative; overflow: hidden; }
.work .caption{ position: absolute; background: #fff; left: 0; right: 0; bottom: -50px; text-align: center; padding: 20px 0; opacity: 0; visibility: hidden; transition: 400ms;}
.work .caption h3{ color: var(--red); font-size: 18px; text-transform: uppercase; line-height: 40px;}
.work .caption p{ font-size: 14px; font-weight: 100; color: #898989; line-height: 20px;}
.work:hover .caption{ opacity: 1; visibility: visible; bottom: 0;}
.seemore{ border: none; background: none; color: var(--red); font-size: 36px; }
.work .img-resp{ width: 100%;}



.wrap-6{ padding: 4rem 0 2rem; background: #666; color: #fff;}
.reviews{ text-align: center; }
/* .review{ display: none; }
.review.active{ display: block } */
.review b{ display: block;}
.review blockquote q{ font-size: 36px; line-height:1.14; font-weight: 100;}
.review blockquote img{ margin: 12px auto 10px;}
/* .pager{ margin-top: 2rem;}
.pager li{ margin: 0 5px;}
.pager a{ display: block; border: 2px solid; color: #fff; width: 10px; height: 10px; border-radius: 50%;}
.pager a.active{background: #fff;} */
.wrap-6 .bx-wrapper{ background: none; border: none; box-shadow: 0 0;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a{ border: 2px solid #fff;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a.active,.wrap-6  .bx-wrapper .bx-pager.bx-default-pager a:focus,.wrap-6  .bx-wrapper .bx-pager.bx-default-pager a:hover{ background: #fff; }


.wrap-7{ background: #fff; padding: 100px 0 140px; color: #363636;}
.team{ margin: 50px 0 33px; position: relative;}
.member{ margin: 50px 0 0 100px;}
.member h3{ color: var(--red); font-size: 18px; margin-bottom: 10px; }
.member small{ color: #898989; font-size: 14px; font-weight: 100;}
.member p{ font-size: 14px; line-height:1.57; font-weight: 100; margin-top: 20px;}
.social{ position: absolute; left: 140px; top: 60px;}
.social li{ margin-right: 10px;}
.social a{ display: block; width: 50px; line-height: 50px; background: var(--red); color: #fff; border-radius: 50%; text-align: center; font-size: 24px;}



.wrap-8{ background: #666; color: #fff; padding: 85px 0 0 0; text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{font:100 72px var(--ff);}
.wrap-8 b{ font-size: 18px; display: inline-block; margin-bottom: 75px;}



.wrap-9{ background: #fff; padding: 100px 0 140px; color: #363636;}
canvas{ background: #ddd; max-width: 100%; height: auto; margin-top: 50px;}
.accordion{ margin-top: 50px;}
.accordion li{ margin-bottom: 10px;}
.accordion a{ display: block; border: 1px solid #ebebeb; padding: 1rem; border-radius: 10px; color: #898989; }
.accordion a span{ margin-right: 20px;}
.accordion a::after{ content: '+'; float: right;}
.accordion p{ font:100 14px/22px var(--ff); margin: 20px; display: none; }
.accordion a.active{ color: var(--red);}
.accordion a.active::after{ content: '—';}
.accordion li:first-child p{ display: block;}


.wrap-10{ background:var(--red); padding: 23px 0 22px; }
.wrap-10 input{ width: 370px; background: none; border: none; height: 35px; color: #fff; font: 100 36px var(--ff);}
.wrap-10 input::placeholder{color: #fff; }
.wrap-10 input:focus{ outline: none;}
.wrap-10 button{ background: #fff; }


.wrap-11{ background: #7f7f7f; padding: 28px 0 0 0;}
.box{ margin-bottom: 27px; background: #a6a6a6; color: #fff; text-align: center; line-height: 95px; font-size: 18px; }



.wrap-12{ background: #ebebeb; padding: 100px 0 140px; color: #363636;}
.wrap-12 address{ color: #898989; font: 15px/30px var(--ff); }
.soc{margin: 20px 0; }
.soc li{ margin-right: 20px; }
.soc a{ color: var(--red);}
.wrap-12 label{ border: 2px solid; color: #363636; padding: 17px; margin: 1rem 0;}
.wrap-12 input{ border: none; background: none;}
.wrap-12 :is(input, textarea):focus{ outline: none; }
.wrap-12 textarea{border: none; background: none; resize: none; vertical-align: top; height: 42px; }
.wrap-12 button{ margin: 1rem 0; display: block; width: 100%; height: 80px; background: #fff;  border: none; border-radius: 10px; font: 16px var(--ff); color: var(--red);}
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}
.wrap-12 label:focus-within{ border-color: var(--red); }



.wrap-13{ background: #252525; padding: 50px 0 25px; color: #fff; text-align: center;}
.wrap-13 h3{ font-size: 24px;}
.wrap-13 button{ border: none; background: none; color: var(--red); font-size: 24px;}


.popupform{ display: none;}
.overlay{ position: fixed; inset: 0; background: #0009; z-index: 2; }
.popup{ position: fixed; left: 50%; top: 100px; transform: translateX(-50%); background: #fff; padding: 10px; z-index: 3; border-radius: 5px;}
.popup label{ margin: 2rem 0; }
.popup input{ float: right; margin-left: 10px; height: 30px; width: 200px; padding: 5px;}
.close{ position: absolute; right: 5px; top: 5px; border: none; background: none; color: var(--red); font-size: 20px; }
.popup .btn{ margin: auto; display: block; }


/* responsive */
@media screen and (max-width:1220px){
    html{ font-size: 13px;}
    h2{ font-size: 62px;}
}
@media screen and (max-width:980px){
    .col-t-3{ flex-basis: 25%; max-width: 25%;}
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-6{ flex-basis: 50%; max-width: 50%;}
    .col-t-12{ flex-basis: 100%; max-width: 100%;}
    .col-t-auto{ flex-basis: 20%; max-width: 20%;}
    .col-t-hide{ display: none; }
    .banner p{ font-size: 3rem; }
    .member{ margin-left: 50px;}
    .social{ top: 0; left: auto; right: 0; }
    .social ul{ flex-flow: column; }
    .social ul li{ margin: 0 0 10px;}
    .wrap-8 p{ font-size: 60px;}
}


@media screen and (max-width:767px){
    html{ font-size: 12px; }
    .collapse{ display: none;}
    .col-m-6{ flex-basis: 50%; max-width: 50%; }
    .col-m-12{ flex-basis: 100%; max-width: 100%; }
    .menu{ display: inline-block;}
    h2{ font-size: 60px;}
    .review blockquote q{ font-size: 30px;}
    .wrap-8 p,.wrap-8 span.fa{ font-size: 50px;}
    .col-t-auto{ flex-basis: 33.33%; max-width: 50%;}
    .collapse{ position: absolute; left: 0; right: 0; top: 80px; background: #000; padding: 1rem;}
    .collapse .flex{ flex-flow: column; }
    .collapse nav{ width: 100%;}
    nav a{  line-height: 40px; text-align: right; }
}

@media screen and (max-width:460px){
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .col-p-12{ flex-basis: 100%; max-width: 100%; }
    .banner .flex{ flex-flow: column;}
    .review blockquote q{ font-size: 24px;}
    .wrap-10 input{ width: 240px; font-size: 24px;}
    .col-t-auto{ flex-basis: 50%; max-width: 100%;}
}